.titulo{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
    color: white;
}

.carrito{
    color: white;
    background-color: black;
    border: solid 4px black;
    margin-right: 50px;
    margin-top: 20px;
    padding: 10px;
    
}

body{
    background-color: #003B36;
}